<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta property="og:title" content="{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}"></meta>
 		{{ if .IsPage }}
		<meta property="og:description" content="{{ if .IsPage }}{{ .Description }}{{end}}" />
		{{ end }}
		<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}"></meta>
		<meta property="og:url" content="{{ .Permalink }}"></meta>
		<meta property="og:image" content="https://docs.gitea.io/images/gitea.png"></meta>
		{{ hugo.Generator }}

		<title>{{ if and (not .IsHome) .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

		{{ with .Params.goimport }}<meta name="go-import" content="{{ . }}">{{ end }}
		{{ with .Params.gosource }}<meta name="go-source" content="{{ . }}">{{ end }}

		{{ with .OutputFormats.Get "RSS" }}
			<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
			<link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
		{{ end }}

		<link rel="canonical" href="{{ .Permalink }}">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{ .Site.BaseURL }}styles/main.css">

		<link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/favicon.png">
		<link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/favicon.png">
	</head>
	<body>
